<a href="https://colab.research.google.com/github/SrinjoySur/Rinex-Major-Projects/blob/main/Major_Proj_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Taking data and creating data frame
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/heart_disease.csv', encoding = 'latin-1')
df

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
#2. Dividing the data into input and output
x = df.iloc[:,0:4].values
x

array([[  0,  63,   1,   3],
       [  1,  37,   1,   2],
       [  2,  41,   0,   1],
       ...,
       [300,  68,   1,   0],
       [301,  57,   1,   0],
       [302,  57,   0,   1]])

In [ ]:
y = df.iloc[:,4].values
y

array([145, 130, 130, 120, 120, 140, 140, 120, 172, 150, 140, 130, 130,
       110, 150, 120, 120, 150, 150, 140, 135, 130, 140, 150, 140, 160,
       150, 110, 140, 130, 105, 120, 130, 125, 125, 142, 135, 150, 155,
       160, 140, 130, 104, 130, 140, 120, 140, 138, 128, 138, 130, 120,
       130, 108, 135, 134, 122, 115, 118, 128, 110, 108, 118, 135, 140,
       138, 100, 130, 120, 124, 120,  94, 130, 140, 122, 135, 125, 140,
       128, 105, 112, 128, 102, 152, 102, 115, 118, 101, 110, 100, 124,
       132, 138, 132, 112, 142, 140, 108, 130, 130, 148, 178, 140, 120,
       129, 120, 160, 138, 120, 110, 180, 150, 140, 110, 130, 120, 130,
       120, 105, 138, 130, 138, 112, 108,  94, 118, 112, 152, 136, 120,
       160, 134, 120, 110, 126, 130, 120, 128, 110, 128, 120, 115, 120,
       106, 140, 156, 118, 150, 120, 130, 160, 112, 170, 146, 138, 130,
       130, 122, 125, 130, 120, 132, 120, 138, 138, 160, 120, 140, 130,
       140, 130, 110, 120, 132, 130, 110, 117, 140, 120, 150, 132, 150,
       130, 112, 150, 112, 130, 124, 140, 110, 130, 128, 120, 145, 140,
       170, 150, 125, 120, 110, 110, 125, 150, 180, 160, 128, 110, 150,
       120, 140, 128, 120, 118, 145, 125, 132, 130, 130, 135, 130, 150,
       140, 138, 200, 110, 145, 120, 120, 170, 125, 108, 165, 160, 120,
       130, 140, 125, 140, 125, 126, 160, 174, 145, 152, 132, 124, 134,
       160, 192, 140, 140, 132, 138, 100, 160, 142, 128, 144, 150, 120,
       178, 112, 123, 108, 110, 112, 180, 118, 122, 130, 120, 134, 120,
       100, 110, 125, 146, 124, 136, 138, 136, 128, 126, 152, 140, 140,
       134, 154, 110, 128, 148, 114, 170, 152, 120, 140, 124, 164, 140,
       110, 144, 130, 130])

In [ ]:
#3.training and testing variables
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [ ]:
#4.APPLYING CLASSIFIER/REGRESSOR/CLUSTERER
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
#5.fitting the model
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
#6.Predicting the output
y_pred = model.predict(x_test)
y_pred  #predicted output

array([140, 120, 120, 140, 130, 120, 120, 130, 140, 140, 130, 140, 140,
       130, 130, 130, 130, 130, 140, 120, 130, 120, 120, 120, 120, 120,
       120, 126, 120, 130, 120, 126, 120, 130, 120, 140, 120, 130, 140,
       140, 130, 130, 130, 126, 130, 130, 120, 120, 140, 130, 130, 130,
       120, 130, 120, 126, 120, 120, 130, 130, 130, 130, 130, 130, 140,
       120, 120, 140, 130, 130, 130, 130, 120, 140, 140, 130])

In [ ]:
y_test

array([145, 170, 170, 125, 130, 124, 110, 130, 200, 130, 150, 130, 135,
       130, 120, 100, 108, 124, 120, 120, 140, 118, 120, 110, 110, 130,
       125, 120, 138, 134, 140, 142, 126, 172, 122, 174, 160, 128, 125,
       140, 140, 128, 138, 110, 125, 156, 130, 140, 134, 120, 120, 120,
       112, 135,  94, 120, 118, 130, 150, 120, 100, 122, 146, 140, 124,
       154, 134, 125, 112, 140, 135, 140, 120, 160, 150, 110])

In [ ]:
#7.Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)*100

9.210526315789473

In [ ]:
#Individual Prediction
model.predict([[5.1,3.5,1.4,0.2]])

array([130])

In [ ]:
model.predict([[5.9,3.2,4.8,1.8]])

array([120])

In [ ]:
model.predict([[6.7,3.1,4.7,1.5]])

array([120])

In [ ]:
model.predict([[6.8,3.2,5.9,2.3]])

array([120])